:root {
    background-color: #eee;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: green;
    background: #eee;
}
header {
    text-align: center;
}

.spacer {
    margin-bottom: 20px;
    background: #eee;
}

button {
    margin: 5px;
}

#start-quiz {
    background-color: lightpink;
    font-weight: bold;
}

#timer {
    color: red;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}