:root {
    background-color: #eee;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: green;
}
header {
    text-align: center;
}

button {
    margin: 5px;
}

#start-quiz {
    background-color: lightpink;
    font-weight: bold;
}